<!DOCTYPE html>
<html lang="ja">

<head>
    <title>View</title>
    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-TK2VKFP');
    </script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "inter-font" %>
    <%= stylesheet_link_tag "tailwind" %>    <%= stylesheet_link_tag "application" %>
    <%= javascript_pack_tag "application" %>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
</head>

<body style="margin: 0px;">
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TK2VKFP" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
    <div id="main">
        <%= yield %>
    </div>
</body>
</html>